# The `plots` section customizes every image that is output to hard-disk during a model-fit.

# For example, if `plots: fit: subplot_fit=True``, the ``fit_dataset.png`` subplot file will
# be plotted every time visualization is performed.

dataset:                                   # Settings for plots of all datasets (e.g. ImagingPlotter, InterferometerPlotter).
  subplot_dataset: true                    # Plot subplot containing all dataset quantities (e.g. the data, noise-map, etc.)?

fit:                                       # Settings for plots of all fits (e.g. FitImagingPlotter, FitInterferometerPlotter).
  subplot_fit: true                        # Plot subplot of all fit quantities for any dataset (e.g. the model data, residual-map, etc.)?
  subplot_fit_log10: true                  # Plot subplot of all fit quantities for any dataset using log10 color maps (e.g. the model data, residual-map, etc.)?
  subplot_of_galaxies: false               # Plot subplot of the model-image, subtracted image and other quantities of each galaxy?
  subplot_galaxy_images: false             # Plot subplot of the image of each galaxy in the model?

fit_imaging: {}                            # Settings for plots of fits to imaging datasets (e.g. FitImagingPlotter).

galaxies:                                  # Settings for plots of galaxies (e.g. GalaxiesPlotter).
  subplot_galaxies: true                   # Plot subplot of all quantities in each galaxies group (e.g. images, convergence)?
  subplot_galaxy_images: false             # Plot subplot of the image of each galaxy in the model?
  subplot_galaxies_1d: false               # Plot subplot of all quantities in 1D of each galaxies group (e.g. images, convergence)?
  subplot_galaxies_1d_decomposed: false    # Plot subplot of all quantities in 1D decomposed of each galaxies group (e.g. images, convergence)?

inversion:                                 # Settings for plots of inversions (e.g. InversionPlotter).
  subplot_inversion: true                  # Plot subplot of all quantities in each inversion (e.g. reconstrucuted image, reconstruction)?
  subplot_mappings: true                   # Plot subplot of the image-to-source pixels mappings of each pixelization?

adapt:                                     # Settings for plots of adapt images used by adaptive pixelizations.
  subplot_adapt_images: true               # Plot subplot showing each adapt image used for adaptive pixelization?

fit_interferometer:                        # Settings for plots of fits to interferometer datasets (e.g. FitInterferometerPlotter).
  subplot_fit_dirty_images: false          # Plot subplot of the dirty-images of all interferometer datasets?
  subplot_fit_real_space: false            # Plot subplot of the real-space images of all interferometer datasets?

fit_ellipse:                               # Settings for plots of ellipse fitting fits (e.g. FitEllipse)
  data : true                              # Plot the data of the ellipse fit?
  data_no_ellipse: true                    # Plot the data without the black data ellipses, which obscure noisy data?

fit_quantity: {}                           # Settings for plots of fit quantities (e.g. FitQuantityPlotter).