fits:
  flip_for_ds9: true
grid:
  max_evaluation_grid_size: 1000   # An evaluation grid whose shape is adaptive chosen is used to compute quantities like critical curves, this integer is the max size of the grid ensuring faster run times.
adapt:
  adapt_minimum_percent: 0.01
  adapt_noise_limit: 100000000.0
inversion:
  use_border_relocator: true          # If True, by default a pixelization's border is used to relocate all pixels outside its border to the border.
test:
  check_likelihood_function: true   # if True, when a search is resumed the likelihood of a previous sample is recalculated to ensure it is consistent with the previous run.
  exception_override: false